Repository davehadley/bootstraphistogram: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

default_stages: [commit]

repos:

- repo: https://github.com/timothycrosley/isort
  rev: 5.9.3
  hooks:
    - id: isort
      stages: [ commit ]
      args: ["--profile", "black"]

- repo: https://github.com/ambv/black
  rev: 21.10b0
  hooks:
  - id: black
    stages: [commit]


- repo:  https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
    - id: flake8
      stages: [commit]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-merge-conflict
    - id: check-yaml
    - id: check-toml
    - id: mixed-line-ending
      stages: [commit]

- repo: local
  hooks:
    - id: mypy
      name: mypy
      entry: poetry run mypy --install-types --non-interactive src tests
      pass_filenames: false
      language: system
      types: [python]

- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: poetry run pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "-dno-else-return", # Disable no-else-return
          "-dinvalid-name", # Too many warnings, too difficult to fix
          "-dduplicate-code", # Too many false positives
        ]
      exclude: |
        (?x)^(
          tests/.*.py|
          docs/.*.py|
          scripts/.*.py|
        )$

Fix problem with github ci.
  .github/workflows/ci.yml
Due: none

Remove data-science-types as it is now deprecated
  pyproject.toml
Due: none

mypy succeeds without --ignore-missing-imports argument.
  src/bootstraphistogram/bootstrapefficiency.py
  src/bootstraphistogram/bootstraphistogram.py
  src/bootstraphistogram/bootstrapmoment.py
  src/bootstraphistogram/plot.py
  src/bootstraphistogram/valuewithsamples.py
  tests/test_bootstrapefficiency.py
  tests/test_bootstraphistogram.py
  tests/test_bootstraphistogram2d.py
  tests/test_bootstraphistogram_performance.py
  tests/test_bootstrapmoment.py
  tests/test_plot.py
  tests/test_plot2d.py
  tests/test_standarderror.py
  tests/test_valuewithsamples.py
Due: mypy, pylint

Try to fix problems in ci.yml.
  .github/workflows/ci.yml
Due: none

working on passing mypy --strict
  .pre-commit-config.yaml
  tests/test_bootstrapefficiency.py
  tests/test_bootstraphistogram.py
  tests/test_bootstraphistogram2d.py
  tests/test_bootstraphistogram_performance.py
  tests/test_bootstrapmoment.py
  tests/test_plot.py
  tests/test_plot2d.py
  tests/test_standarderror.py
  tests/test_valuewithsamples.py
  tests/test_version.py
Due: mypy

Passes mypy strict checks.
  src/bootstraphistogram/bootstrapefficiency.py
  src/bootstraphistogram/bootstraphistogram.py
  src/bootstraphistogram/bootstrapmoment.py
  src/bootstraphistogram/plot.py
  src/bootstraphistogram/valuewithsamples.py
Due: mypy, pylint

Add py.typed file.
  pyproject.toml
  src/bootstraphistogram/py.typed
Due: none

Fix linter errors (#8)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/bootstraphistogram/bootstrapefficiency.py
  src/bootstraphistogram/bootstraphistogram.py
  src/bootstraphistogram/bootstrapmoment.py
  src/bootstraphistogram/plot.py
  src/bootstraphistogram/py.typed
  src/bootstraphistogram/valuewithsamples.py
  tests/test_bootstrapefficiency.py
  tests/test_bootstraphistogram.py
  tests/test_bootstraphistogram2d.py
  tests/test_bootstraphistogram_performance.py
  tests/test_bootstrapmoment.py
  tests/test_plot.py
  tests/test_plot2d.py
  tests/test_standarderror.py
  tests/test_valuewithsamples.py
  tests/test_version.py
Due: mypy, pylint

Prepare for version 0.10.0 release
  CHANGELOG.md
  pyproject.toml
  src/bootstraphistogram/__init__.py
  tests/test_version.py
Due: mypy, pylint

Release 0.10.0
  .dockerignore
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Dockerfile
  README.md
  docs/conf.py
  pyproject.toml
  scripts/bootstrap_histogram_manage.py
  scripts/profile_bootstrap_histogram.py
  src/bootstraphistogram/__init__.py
  src/bootstraphistogram/bootstrapefficiency.py
  src/bootstraphistogram/bootstraphistogram.py
  src/bootstraphistogram/bootstrapmoment.py
  src/bootstraphistogram/plot.py
  src/bootstraphistogram/py.typed
  src/bootstraphistogram/valuewithsamples.py
  tests/test_bootstrapefficiency.py
  tests/test_bootstraphistogram.py
  tests/test_bootstraphistogram2d.py
  tests/test_bootstraphistogram_performance.py
  tests/test_bootstrapmoment.py
  tests/test_plot.py
  tests/test_plot2d.py
  tests/test_standarderror.py
  tests/test_valuewithsamples.py
  tests/test_version.py
Due: mypy, pylint

Fix link to external docs.
  src/bootstraphistogram/bootstraphistogram.py
Due: mypy, pylint

Update pre-commit hook versions, some minot formatting changes
  .pre-commit-config.yaml
  docs/pyplots/twodim2_example.py
  tests/test_bootstraphistogram.py
  tests/test_bootstraphistogram2d.py
  tests/test_standarderror.py
Due: mypy

Fix a broken link in the documentation.
  src/bootstraphistogram/bootstraphistogram.py
Due: mypy, pylint

Switch default from mean to nanmean and std to nanstd.
  src/bootstraphistogram/bootstrapefficiency.py
  src/bootstraphistogram/bootstraphistogram.py
Due: mypy, pylint

Add more flexibility to plot percentiles or mean/standard deviation in plotss
  src/bootstraphistogram/plot.py
  tests/test_plot.py
Due: mypy, pylint

Bump version to 0.11.0
  CHANGELOG.md
  pyproject.toml
  src/bootstraphistogram/__init__.py
  tests/test_version.py
Due: mypy, pylint

Disable scheduled workflow.
  .github/workflows/ci.yml
Due: none

Update poetry installer in CI.
  .github/workflows/ci.yml
Due: none

Trying to get numpy version to work..
  pyproject.toml
Due: none

This also works...
  pyproject.toml
Due: none

This seems to work.
  pyproject.toml
Due: none

Remove 3.10 and 3.11 from tests as they currently fail due to numpy version restriction.
  .github/workflows/ci.yml
Due: none

Fix type hints, allow latest numpy version, and reinstate tests of 3.10 and 3.11.
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  src/bootstraphistogram/bootstrapefficiency.py
  src/bootstraphistogram/bootstraphistogram.py
  src/bootstraphistogram/bootstrapmoment.py
  src/bootstraphistogram/plot.py
  src/bootstraphistogram/valuewithsamples.py
  tests/test_bootstrapefficiency.py
  tests/test_bootstraphistogram.py
  tests/test_bootstraphistogram2d.py
  tests/test_bootstraphistogram_performance.py
  tests/test_bootstrapmoment.py
  tests/test_plot.py
  tests/test_plot2d.py
  tests/test_standarderror.py
  tests/test_valuewithsamples.py
Due: mypy, pylint

Don't test 3.6 and 3.7 with mypy due to missing type hints.
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

Fix some CI failures.
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Release 0.11.0
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/pyplots/twodim2_example.py
  pyproject.toml
  src/bootstraphistogram/__init__.py
  src/bootstraphistogram/bootstrapefficiency.py
  src/bootstraphistogram/bootstraphistogram.py
  src/bootstraphistogram/bootstrapmoment.py
  src/bootstraphistogram/plot.py
  src/bootstraphistogram/valuewithsamples.py
  tests/test_bootstrapefficiency.py
  tests/test_bootstraphistogram.py
  tests/test_bootstraphistogram2d.py
  tests/test_bootstraphistogram_performance.py
  tests/test_bootstrapmoment.py
  tests/test_plot.py
  tests/test_plot2d.py
  tests/test_standarderror.py
  tests/test_valuewithsamples.py
  tests/test_version.py
Due: mypy, pylint

Reduce CI cache disk usage.
  .github/workflows/ci.yml
Due: none

Update publish.yaml for new poetry install script.
  .github/workflows/publish.yml
Due: none
